.custom-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;  
    border-radius: 40px;
    color: rgb(47, 47, 77);
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    width: 84px;
    
  }
  
  .custom-button.pressed {
    background-color: rgb(48, 50, 68);  
  }
