.video_content{
   display: flex;
    justify-content: center;
    background-color: rgb(230, 231, 235);
    min-width: 680px;
    min-height: 520px;
    border-radius: 3%;
    box-shadow: 0 0 100px rgb(18, 15, 39);
}
.cam_content{
    display: flex;
    padding-top: 5%;
}