.video_content{
   display: flex;
    justify-content: center;
    background-color: rgb(230, 231, 235);
    min-width: 1030px;
    min-height: 710px;
    border-radius: 3%;
    justify-content: center;
    align-items: center;
}
.cam_content{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    gap:5vh;
}
.log{
    border:white;
    border-style: solid;
    width: 70vh;
    text-align: center;
}