.text{
    color:white;
}
.data{
    color:aquamarine;
}
.env {
  flex:1;
    display: flex;
    justify-content: space-between; /* Distribute the components evenly */
    align-items: center; /* Center items vertically */
    flex-wrap: wrap;
    /* Adjust spacing if needed */
    gap: 20px; /* Adds space between components */
  }
.container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
align-content: center;
text-align: center;
gap:20px;
}


.temperature_data,
.humidity_data,
.PM10_data,
.PM25_data {
  display: flex; /* 使用 Flexbox 布局 */
  align-items: center; /* 垂直居中对齐 */
}

.monitor{
  flex:1;
  display: flex;
  background-color: rgba(40, 44, 63, 0.7);
  border-style: solid;
  color: white;
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 40px;
  border-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  gap: 20px;
  flex-direction: column;
}
#monitor_content{
  display: flex;
  justify-content: center;
}
#monitor_title{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#img_warning{
  height: 40px;
}
#warning{
  display: flex;
  flex-direction: row;
  gap: 5px;
}