.text{
    color:white;
    font-size: 150%;
}
.data{
    color:aquamarine;
    font-size: 150%;
}
.env {
  display: flex;
  justify-content: space-between; /* Distribute the components evenly */
  align-items: center; /* Center items vertically */
  flex-wrap: wrap;
  gap: 20px; 
  }
.container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
align-content: center;
text-align: center;
gap:20px;
}


.temperature_data,
.humidity_data,
.PM10_data,
.PM25_data {
  display: flex; 
  align-items: center; 
}

.monitor{
  display: flex;
  background-color: rgba(21, 33, 46, 0.7);
  border-style: solid;
  color: white;
  font-size: 15px;
  padding: 1vh 1vh;
  border-radius: 40px;
  border-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  gap: 2vh;
  flex-direction: column;
}
#monitor_content{
  display: flex;
  justify-content: center;
}
#monitor_title{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#img_warning{
  height: 40px;
}
#warning{
  display: flex;
  flex-direction: row;
  gap: 5px;
}