.custombtn{
background-color: rgba(255, 250, 250, 0.2);
border-style: solid;
color: white;
font-size: 15px;
padding: 10px 60px;
border-radius: 40px;
border-color: rgba(255, 255, 255, 0.5);
cursor: pointer;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
width: 100%;
}
.link{
text-decoration: none;
align-items: center;
display: inline-block;
width: 100%;
}
:visited{
color: rgb(255, 255, 255);
}

.divider{
margin-bottom: 5px;
display: flex;
}
.navtext {
gap: 10px;
text-align: center;
margin-bottom: 10px;
margin-right: 10px;

}

.ic{
  padding-inline: 20px;
}
.container {
  overflow: auto; /* 或 overflow: hidden; */
}
a:link {
  color: white; 
  text-decoration: none; 
}
