/* App.css */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  padding: 20px;
}
:root{
  --color1: #00ffff;
  --color2: #10d863;
  --color3: #df850f;
}
.circleBackendWater{
  fill:none;
  stroke: #b9b8c9;
}
.circleBackendBattery{
  fill:none;
  stroke: #fefeff;
}
.circleMonitorWater{
  fill: none;
  stroke: var(--color1);
  stroke-linecap: round;
  stroke-linejoin: round;
}
.WaterText{
  font-size: 3rem;
  font-weight: bold;
}
.circleMonitorBattery{
  fill: none;
  stroke: var(--color2);
  stroke-linecap: round;
  stroke-linejoin: round;
}
.title {
  background-color: rgba(77, 86, 126, 0.9); /* 半透明背景色 */
  border-radius: 10px; /* 圆角边缘 */
  padding: 20px;
  margin-bottom: 20px; /* 底部边距 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 阴影效果 */
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* 允许子元素换行 */
  gap: 20px; /* 子元素之间的间距 */
  width: 100%;
}

.Function_Bar,
.Battery_Main,
.Camera_Main,
.Water_Main,
.Environment_Main {
  flex: 1; /* 让模块自动增长 */
  background-color: rgba(77, 86, 126, 0.9); /* 半透明背景色 */
  border-radius: 10px; /* 圆角边缘 */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 阴影效果 */
  min-width: 300px; /* 设置最小宽度 */
  backdrop-filter: blur(10px); /* 添加模糊效果 */
  opacity: 0.9; /* 降低块的不透明度 */
}

@media (max-width: 768px) {
  /* 在小屏幕上，每行显示两个模块 */
  .Function_Bar,
  .Battery_Main,
  .Camera_Main,
  .Water_Main,
  .Environment_Main {
    flex-basis: calc(50% - 10px); /* 50%减去间距 */
  }
}

@media (max-width: 480px) {
  /* 在更小的屏幕上，每行显示一个模块 */
  .Function_Bar,
  .Battery_Main,
  .Camera_Main,
  .Water_Main,
  .Environment_Main {
    flex-basis: 100%;
  }
}
